body{
    margin: 0;
}

#wrapper{
    width: 100%;
    min-height: 95vh;
    border: 1px solid;
    margin: auto;
    background-color: rgb(181 139 99);
    display: grid;

    grid-template-areas:
        "hd hd"
        "nv nv"
        's1 s1'
        "f1 f2";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5fr 0.5fr 1fr 1fr;
}

#hd{
    grid-area: hd;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36px;
    
    align-content: center;
    background-image: url('https://i.ytimg.com/vi/h-PfBxoMq_4/maxresdefault.jpg');
    background-position: center;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hd img {
    max-width: 75px;
    height: auto;
    order: -1;
}

#nv {
    grid-area: nv;
    display: grid;
    text-align: center;
    font-size: 20px;
}

#s1{
    grid-area: s1;
    display: flex;
    justify-content: space-evenly;
    justify-content: space-around;
}

#s1 img {
    max-width: auto;
    height: 250px;
    border-radius: 15px;
}

#c1 { grid-area: c1;
}

#c2 { 
    grid-area: c2;
}

#c3 { grid-area: c3; 
}




#f1 {
    grid-area: f1;
    text-align: center;
    font-size: 25px;
}

#f2 {
    grid-area: f2;
    text-align: center;
    font-size: 25px;
}